body {
    font-family: Arial, sans-serif; /* Define a fonte padrão */
    background-image: url('imagens/PapelDeParede.png'); /* Substitua pelo caminho da sua imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
    height: 100vh; /* Faz o corpo da página ocupar 100% da altura da janela */
    display: flex; /* Usa Flexbox para centralizar o formulário */
    justify-content: center; /* Centraliza o formulário horizontalmente */
    align-items: center; /* Centraliza o formulário verticalmente */
    overflow: hidden; /* Remove a barra de rolagem */
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.instagram {
    width: 15%;
    height: auto;
}

.service-img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    text-align: center;
    color: #333;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

button {
    background-color: #FFA843;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0097B2;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: none;
}